.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 80px 120px 80px 120px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  color: #17181B;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -2px;
}

.title span {
  color: #177D3C;
}

.description {
  margin-bottom: 50px;
  color: #2E3236;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}

.pressLink {
  text-decoration: none;
}

.pressLink:visited {
  color: inherit;
}

.press {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-top: 1px solid #ccc;
  padding: 20px;
}

.pressDetail {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pressThumbnail {
  width: 320px;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;
  aspect-ratio: 16/9;
  flex-shrink: 0;
  margin: 0;
}

.pressDetail h3 {
  color: #17181B;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1.5px;
  text-align: left;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: anywhere;
  flex: 1;
  min-width: 0;
  margin: 0;
}

.pressDate {
  color: #757B82;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}

.brForMobile {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    padding: 40px;
  }

  .brForMobile {
    display: block;
  }

  .pressThumbnail {
    width: 240px;
    height: 135px;
  }

  .pressDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .press {
    padding: 20px 0;
  }

  .pressThumbnail {
    display: none;
  }

  .pressDetail {
    position: relative;
  }

  .pressDetail h3 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
  }
}
