.backToTop {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 4px 20px 0 rgba(49, 78, 152, 0.12), 0 0 5px 2px rgba(0, 0, 0, 0.10);
  border: none;
  cursor: pointer;
}

.backToTop img {
  margin: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(8px);
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}