.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--color-text);
  font-size: var(--font-title-md);
  font-weight: var(--fw-xl);
  line-height: 1.4;
  letter-spacing: -2px;
}

.title span {
  color: var(--color-point);
}

.description {
  color: #2E3236;
  font-size: 20px;
  font-weight: var(--fw-xl);
  line-height: 1.4;
  letter-spacing: -1px;
}

.imageCardContainer {
  flex: 1;
  width: 100%;
}

.imageCardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageCardContent h3 {
  color: var(--color-text);
  font-size: 24px;
  font-weight: var(--fw-xl);
  line-height: 1.4;
  letter-spacing: -1px;
}

.imageCardContent p {
  color: var(--color-subtitle);
  font-size: 18px;
  font-weight: var(--fw-xl);
  line-height: 1.4;
  margin: 0;
}

.imageCardContainer img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .imageCardContainer img{
    margin-bottom: 16px;
  }
}

@media (max-width: 450px) {
  .imageCardContainer img{
    height: auto;
    border-radius: 16px;
  }

  .imageCardContent h3 {
    font-size: 20px;
  }

  .imageCardContent p {
    font-size: 16px;
  }
}

