.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #17181B;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -2px;
}

.title span {
  color: #177D3C;
}

.description {
  color: #2E3236;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}

.imageCardContainer {
  flex: 1;
}

.imageCardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageCardContent h3 {
  color: #17181B;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1.5px;
}

.imageCardContent p {
  color: #757B82;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

