.plusImageContainer {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  margin: auto 0;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .plusImageContainer {
    align-items: normal;
  }
}