.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #17181B;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -2px;
}

.title span {
  color: #177D3C;
}

.description {
  color: #2E3236;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}
